* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", "sans-serif";
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    background-color: #141414;
}

.container {
    padding: 24px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Search Bar */

input {
    cursor: pointer;
    margin-right: 20px;
    background-color: rgba(27, 22, 22, 0.719);
    color: white;
    width: 100%;
    height: 100%;
    border: 0.5px solid white;
    padding: 10px;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    transition: all 300ms ease;
    opacity: 1;
}

.search__bar {
    width: 320px;
}

/* Navigation */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 0px;
    z-index: 1;
    transition: all 300ms ease;
    background-color: rgba(27, 22, 22, 0.719);
}

.nav__left,
.nav__right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: px;
}

.logo {
    height: 75px;
    width: 150px;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding-left: 30px;
}

.profile__logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
}

.scrolling {
    width: 100%;
    transition: all 1s;
    background-color: #141414;
    color: white;
}

/* Landing */

.banner {
    background-image: url(https://static.bunnycdn.ru/i/cache/images/5/58/5806a16f2892768b4930c39ebf6ce756.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.banner__content {
    position: absolute;
    color: white;
    bottom: 15%;
    margin-left: 100px;
    width: 40%;
    background-color: rgba(27, 22, 22, 0.719);
    border-radius: 10px;
    display: relative;
    justify-content: center;
    align-items: center;
}

.banner__title {
    font-size: 50px;
    padding: 30px;
}

.banner__btns {
    padding-bottom: 20px;
    padding-left: 30px;
}

.banner__btn {
    cursor: pointer;
    color: #fff;
    outline: none;
    font-size: 18px;
    font-weight: 700;
    border: 0.5px solid white;
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(27, 22, 22, 0.719);
}

.banner__btn:hover {
    color: #000;
    background-color: #e6e6e6;
    transition: all 300ms ease;
}

.banner__para {
    font-size: 14px;
    width: 100%;
    color: white;
    max-width: 500px;
    padding-bottom: 15px;
    padding-left: 30px;
}

/* Results */


.results__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.search__results {
    color: white;
}

#filter {
    display: none;
}

.anime__list {
    display: flex;
    flex-wrap: wrap;
}

.anime__img--wrapper {
    overflow: hidden;
}

.anime__img {
    width: 100%;
    transition: all 300ms;
}

.anime__img:hover {
    transform: scale(1.03);
}

.anime {
    width: 25%;
    padding: 24px;
}

.anime__title {
    color: white;
    margin: 8px 0;
    font-size: 20px;
}

.anime__year {
    color: white;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.spinner {
    color: white;
    font-size: 60px;
    animation: rotate 600ms infinite linear;
    display: none !important;
}

.loading .spinner {
    display: block !important;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Media Query */

@media (max-width: 993px) {

    .nav__link,
    .profile__logo {
        display: none;
    }
}



@media (max-width: 768px) {

    .banner,
    .nav__link,
    .logo,
    .profile__logo {
        display: none;
    }

    .row {
        margin-top: 50px;
    }
}

@media (max-width: 480px) {

    .banner,
    .nav__link,
    .logo,
    .profile__logo {
        display: none;
    }

    .row {
        margin-top: 50px;
    }

    .anime__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .anime {
        width: 50%;
    }
}